/*#region Root*/
/*TODO review root*/
:root {
    --text-section-max-width: 640px;
    --base-pixel-size: 12px;
    --base-rem-size: 0.75rem;
    --half-rem-size: calc(var(--base-rem-size) / 2);
    --twice-rem-size: calc(var(--base-rem-size) * 2);
    --section-margin-bottom: calc(var(--base-rem-size) * 4);
    --header-height: 60px;
    --breadcrumbs-height: calc(var(--base-pixel-size) * 3.5);
    --max-width: 1920px;
    --standard-color: #fcaf17;
    --color-h: #fff;
    --body-color: #e8e8e8;
    --background-color: #0b0b0b;
    --card-background-color: #000;
    --border-color: #282828;
    --privacy-banner-height: 0px;
    --game-header-height: 50px;
    --standard-grid-gap: calc(var(--base-rem-size) * 2);
    --image-margin-bottom: inherit;
    --image-rounding: 0px;
    --image-rounding-static: 16px;
    --image-rounding-static-sm: 8px;
    --image-rounding-static-xs: 4px;
    --grid-gap-static-xs: 0.5rem;
    --grid-gap-static-sm: 1rem;
    --grid-gap-static-md: 2rem;
    --grid-gap-static-lg: 4rem;
    --grid-gap-static-xl: 8rem;
    --max-width-static: 640px;
    --max-width-static-md: 1088px;
    --max-width-static-lg: 1920px;
    --max-width-static-xl: 2560px;
    --margin-static: 0 0 2rem;
    --h2-margin: 2rem 0 0 0;
    --padding-sides: var(--grid-gap-static-lg);
    --padding-top-bottom: var(--padding-sides);
    --padding-static: var(--padding-sides);
    --font-size-1: 0.64rem;
    --font-size-2: 0.8rem;
    --font-size-3: 1rem;
    --font-size-4: 1.25rem;
    --font-size-5: 1.563rem;
    --font-size-6: 1.953rem;
    --font-size-7: 2.441rem;
    --font-size-8: 3.052rem;
    --font-size-9: 3.815rem;
    --font-size-10: 4.768rem;
    --font-family-std: var(--rsg-font-family-std);
    --font-family-h: var(--rsg-font-family-h);
    --font-family-h-halloween: nightmar;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color,transparent);
    font-family: var(--font-family-std,HelveticaNowText);
    font-size: calc(var(--root-font-size) * 1px);
    font-weight: var(--font-weight-std,400);
    letter-spacing: var(--letter-spacing-std,-.025em);
    line-height: var(--line-height-std,1.6);
}

    :root * {
        box-sizing: border-box;
    }

    :root a {
        color: inherit;
        text-decoration: none;
    }
/*#endregion Root*/

/*#region Tag Selectors*/
body {
    background-color: black;
    margin: 0;
}

a {
    background-color: initial;
}

h1{
    color: white;
}

p{
    color: white;
}

div {
    display: block;
}

nav {
    display: block;
}

/*#endregion Tag Selectors*/

/*#region Class Selectors*/
.background {
    height: 100%;
    width: 100%;
}

.menu {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    outline: none;
    position: relative;
    width: 24px;
}

.profile {
    background-color: initial;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: calc(var(--base-pixel-size) * 3);
    width: calc(var(--base-pixel-size) * 3);
}

.header {
    align-items: stretch;
    border: none;
    color: #fff;
    display: grid; /*Sets grid for header bar*/
    grid-template-columns: 1fr 74px 1fr; /*Sets grid for header bar*/
    grid-template-rows: 100%; /*Sets grid for header bar*/
    height: var(--header-height);
    justify-content: space-between;
    padding: var(--base-pixel-size) var(--padding-sides); /*Creates centre placement for menu bar*/
    position: fixed; /*Required to push down other items from the header bar*/
    top: var(--privacy-banner-height);
    transform: translateY(0); /*Requred to make the header slide away*/
    transition: transform .3s; /*Transition Time for header to slide away*/
    width: 100%;
    z-index: 250;
}

.d2 {
    gap: var(--grid-gap-static-sm);
    display: flex;
}

.d3 a {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    outline: none;
    position: relative;
    width: 24px;
}

a span:first-child {
    transform: translateY(-400%);
}

.d3 a span {
    background: #fff;
    border-radius: 1rem;
    height: 2px;
    position: absolute;
    transform-origin: left center;
    transition: .2s;
    width: 100%;
}

a span:last-child {
    transform: translateY(400%);
}

/*D6 = Logo*/
.d6 a {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 121%;
}

    .d6 a .d61 {
        background-image: url(../images/ERALogo1.png);
    }

        .d6 a .d61.d62 {
            opacity: 1;
        }

    .d6 a d62, .d6 a .d61 {
        background-position: 50%;
        background-repeat: no-repeat;/*Stops img repeating*/
        background-size: contain;/*Shrinks img to box*/
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity .3s;
        width: 90px;
    }

.d7 {
    display: flex;
    justify-content: flex-end;
}

/*D8 & D9 are slider functionality*/
.d8 {
    backdrop-filter: blur(40px);
    background: black;
    height: 100%;
    top: 0;
    z-index: -1;
    border: solid 2px;
    border-color: #008529;
    left: 0;
    position: absolute;
    width: 100%;
}

.d9 {
    background-color: #161616;
    bottom: 0;
    height: 2px;
    transition: all .3s;
}

.d8, .d9 {
    left: 0;
    position: absolute;
    width: 100%;
}

/*Nav Menu*/
.navi {
    backdrop-filter: blur(40px);
    background-position: 50%;
    background-size: cover;
    background: rgba(0,0,0,.85);
    border: none;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: var(--privacy-banner-height);
    transform: translateX(calc(-100% - 10px));
    transition: transform .3s ease-in-out;
    width: 100vw;
    z-index: 200;
}
/*TODO on menu click open navi*/
.open {
    transform: translateX(0);
}

.d91 {
    gap: var(--grid-gap-static-md);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    overflow-y: auto;
    padding-top: calc(var(--header-height) + var(--grid-gap-static-md));
}

.d10 {
    margin: 0 auto;
    max-width: var(--max-width);
    padding-left: var(--padding-sides);
    padding-right: var(--padding-sides);
    width: 100%;
}

.search{
    background: #111;
    border-radius: var(--image-rounding-static-xs);
    display: flex;
    position: relative;
}

.search button {
    background-color: initial;
    background-image: url(../images/Search.png);
    background-origin: content-box;
    background-position: 0;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    content: "";
    cursor: pointer;
    margin: 0 0 0 var(--grid-gap-static-sm);
    width: 36px;
}

    .search input {
        background-color: initial;
        border: none;
        color: #fff;
        outline: none;
        padding: var(--grid-gap-static-sm);
        width: 100%;
    }

.options {
    gap: var(--grid-gap-static-sm);
    color: var(--color-h);
    display: grid;
    font-family: var(--font-family-h);
    font-size: var(--font-size-5);
    font-weight: 700;
    grid-auto-rows: max-content;
    margin-bottom: var(--grid-gap-static-md);
    opacity: 1; /*TODO When menu button is clicked opacity = 1 else default 0*/
    padding-bottom: var(--padding-top-bottom);
    transition: opacity .4s ease-in;
}

.options a {
    min-width: max-content;
    text-decoration: none;
    transition: color .3s ease;
    width: 100%;
}

/*#endregion Class Selectors*/
