/*Tag Selector*/

h1 {
    color: red;
    font-size: 100px;
}

h3 {
    color: aqua;
}

/*Class Selector*/
.bacon {
    background-color: blue;
}

/*ID Selector*/
#bacon1 {
    width: 100px;
    position: relative;
    left: 30px;
}
#bacon2 {
    width: 200px;
}